.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
	padding: 20px;
	border-radius: 3px;
	box-shadow: 0 10px 30px rgba(0,0,0,.1);
	background-color: rgba(226, 187, 183, 0.4);
}

.card img {
  width: 150px;
  border-radius: 50%;
}

.card h3 {
  flex-grow: 2;
  padding-left: 30px;
  font-size: 20px;
}