.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
	padding: 10px;
}

.social img {
  width: 50px;
}

.social a {
  flex-grow: 1;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: black;
  margin-top: 20px;
}